#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
h2 {
  color:black;
}
strong {
  color:black;
}
li {
  color: black;
}
 h3 {
  color: black;
  margin-bottom: 0px;
 }
button {
  background-color: #21f805;
  margin:10px;
}
p {
  font-size:15px;
  font-weight: bold;
}
.website-name {
  font-size: 20px;
  color:black;
  font-style: italic;
}
.container {
  display:flex;
  align-items: center;
  justify-content: center;
}
.change-amount-buttons {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
  transition: filter 300ms;
  flex-shrink: 0;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.headline {
  margin: 0px;
  padding: 0px;
}
.headline-recipe-day {
  margin: 0px;
  padding: 0px;
  color:rgb(14, 88, 5);
  font-size: 3rem;
}
.cButton {
  background-color: #b2e6ab;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  margin:0;
}
.cButton::selection {
  background-color: #7eee7eaa;
  color: white;
  margin:0;
}
.description-container {
  width: 500px;
  height: auto;
  margin-left:auto;
  margin-right: auto;
  font-size: 15px;
  color: rgb(3, 78, 9);
}
.flex-container-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height:auto;
  background-color: inherit;
  gap: 10px;
  margin: 0.5rem;
}
.flex-container-categories .cButton {
  padding: 1rem;
  border-radius: 0.5rem;
  width: auto;
  text-align: center;
  font-size: 15px;
}
button:hover {
  background-color: #06f129;
}
.cButton.active {
  background-color: #0eec06aa;
}
.cButton.active:hover {
  background-color: #0eec06aa;
}
.recipe-link {
  display: block;
  text-decoration: none;
}
.delete-ingredient-button {
  width: 40px;
  height: 30px;
  margin: 5px;
  background-color: #21f805;
}
.form-group
 {
  display: grid;
  grid-template-columns: 140px auto;
  gap: 0.5rem;
  width:600px;
}
.form-group input{
  width: 100%;
  padding: 0.5rem;
}
.ingredients-header {
  display: grid;
  grid-template-columns: 60px 60px 1fr 60px;
}
.form-group-ingredients {
  display: 'flex';
  flex-direction: column;
  gap: 0.5rem;
  width:600px;
  max-width: 100%;
}
.ingredients-row {
  display: grid;
  width:600px;
  grid-template-columns: 60px 80px 1fr 50px;
  gap: 0.5rem;
  align-items: center;
}
.ingredient-row button, input {
  width:100%;
  box-sizing: border-box;
  padding: 0.5rem;
}
.ingredients-menge,
.ingredients-einheit,
.ingredients-zutat {
  width: 100%;
  box-sizing: border-box;     /* extrem wichtig */
  padding: 0.5rem;
}
.DragDrop-Container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  width: inherit;
  height: 300px;
  align-items: center;
  justify-content: center; 
}
.DragDrop-Container p {
  color:#000000;
  opacity: 0.4;
}
.pagination-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.pagination-container li {
  display: inline-block;
  min-width: 30px;
  cursor: pointer;
}
.pagination-container a, button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  cursor: pointer;
}
.pagination-container a:hover {
  background-color: rgb(34, 236, 7);
  border-color: black;
  color: white;
  cursor: pointer;
}
.pagination .selected a {
  background-color:rgb(31, 202, 9);
  color:white;
  cursor: pointer;

}
.pagination-container .disabled a{
  opacity: 0.7;
  cursor: not-allowed;
}
.nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0px;
  gap: 1rem;
  padding: 0 1rem;
  margin: 0;
  background-color: #23e609;
  height: 50px;
  list-style: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
}
.nav-link {
  height: inherit;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  display: inline-flex;      
  justify-content: center;
  align-items: center;
  color: black;
}
.nav-link:hover{
  background-color: #09ce1a;
  color:#000000;
}
.zoom-container {
  width: 600px;
  height: 450px;
  overflow: hidden;
  border-radius: 20%;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
}
.recipe-day {
  width: 600px;
  height: 400px;
  object-fit: 'contain';
  border-radius: 20%;
  transition: transform 0.4s ease;
}
.zoom-container:hover img {
  transform: scale(1.3);
}
.normal-recipe {
  width:400px;
  height:300px;
  object-fit: 'cover';
  border-radius: 20%;
  transition: transform 0.4s ease;
}
.recipe-day-title {
  font-size: 2rem;
  color:rgb(41, 168, 2)
}
.pagination-highlights {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%; /* Makes it circular */
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  background-color: rgb(196, 240, 192);
  cursor: pointer;
}
.page-link:hover {
  background-color: rgb(130, 228, 130);
  cursor: pointer;
}
.categories-list {
 margin:0px;
 color:#098614
}
.highlights-recipe {
  width:300px;
  height:200px;
  object-fit: cover;
  border-radius: 20%;
  transition: transform 0.4s ease;
}
.overview-link-container {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  max-width: 100%;
}
.overview-link {
  text-decoration: none;
  color:rgb(24, 128, 10);
}
.highlights-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.arrow-right {
  display: inline-block;
  font-size: 28px;
  color:rgb(24, 128, 10);
}
.special-container {
  width:610px;
  height: inherit;
  margin:0 auto;
  z-index: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.background-container {
  height: 500px;
  position: relative;
  display:flex;
  z-index: 2;
}
.background-div {
  position:absolute;
  z-index: 1;
  width:100%;
  height:100%;
  background-image: url("./logos/easter-rabbit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  border-radius: 20px;
  opacity: 0.5;
}
.description-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.instructions-even {
  width: 300px;
  height: auto;
  align-self: flex-start;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom:10px;
}
.instructions-odd {
  width: 300px;
  height: auto;
  align-self: flex-end;
  margin-left:auto;
  margin-top: 10px;
  margin-bottom:10px;
}
.recipe-detail-container {
  width: 800px;
  height: 800px;
  z-index: 1;
  background-image: url("./logos/kochen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity:0.5;
}
.image-container {
  position: relative;
  max-width:100%;
  object-fit: cover;
  width:auto;
}
.wishlist-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: 15%;
  background-color: white;
  padding: 5px;
  border-radius: 30%;
  transition: transform 0.4s ease;
  z-index: 9000;
}
.wishlist-icon:hover {
  background-color: #dba3a3;
}
.zoom-container-normal {
  width: 400px;
  height: 350px;
  overflow: hidden;
  border-radius: 20%;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: center;
}
.zoom-container-normal:hover img {
  transform: scale(1.3);
}

ul {
  list-style-type: none;
  padding: 0;
}
body {
  background-color: rgb(225, 250, 223);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
